@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<style>
    .profPerson .ProfImg {
        width: 240px;
        height: 153px;
    }

    .assistImg .transition {
        height: 107px;
    }
</style> <div class="homeSlider"> 
    <div class="bannerSlider" style="background: url(../images/Logo.png) no-repeat center center;">     </div>     <div class="searchOnline clearfix">
    </div>
    </div>
